@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.logement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about_collapse {
  width: 1023px;
  border-radius: 5px;
  background: #F6F6F6;
  margin: 15px 0 15px 0;
  overflow: hidden;
  transition: height 500ms ease-in-out;
}
.about_collapse.collapsed {
  height: 52px;
}
.about_collapse.collapsed .about_titre img {
  transform: rotate(0deg);
}
.about_titre {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  border-radius: 5px;
  height: 52px;
  padding: 0 20px 0 20px;
}
.about_titre img {
  position: absolute;
  right: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.about_titre.collapsed img {
  transform: rotate(0);
}
.about_titre:not(.collapsed) img {
  transform: rotate(180deg);
}
.about h1 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 24px;
}
.about p {
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  color: #FF6060;
  margin: 0 10px 0 10px;
  padding: 10px 0 10px 0;
}
.about ul {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #FF6060;
}