@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.cardTags {
  width: 115px;
  height: 25px;
  border-radius: 10px;
  background-color: #FF6060;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}