@import "./var.scss";

.logement{
    @include flexRow;
}

.about{
    &_collapse{
        width: 1023px;
        border-radius: 5px;
        background: $c_secondaire;
        margin: 15px 0 15px 0;
        overflow: hidden;
        // border: 1px solid #000;
        transition: height 500ms ease-in-out;
        &.collapsed{
            height: 52px;

            & .about_titre img{
                transform: rotate(0deg); 
            }
        }
    }
    &_titre{
        @include dir_row();
        position: relative;
        justify-content: space-between;
        align-items: center;
        background-color: $c_primaire;
        border-radius: 5px;
        height: 52px;
        padding: 0 20px 0 20px;

        & img{
            position: absolute;
            right: 20px;
            transition: transform 0.3s ease;
            cursor: pointer;
        }
        &.collapsed img{            
            transform: rotate(0);            
        }

        &:not(.collapsed) img {
            transform: rotate(180deg);
        }
    }
    & h1 {
        font-family: $p_texte;
        color: $c_wht;
        font-size: 24px;
    }
    & p{
        // display: none;
        font-family: $p_texte;
        text-align: justify;
        color: $c_primaire;
        margin: 0 10px 0 10px;
        padding: 10px 0 10px 0;
    }

    & ul{
        display: flex;
        flex-direction: column;
        font-family: $p_texte;
        font-size: 18px;
        color: $c_primaire;
    }
}