// Code avant inclusion des animations

@import "./var.scss";

.about{
    @include flexColumn();    
    &_collapse{
        width: 1023px;
        border-radius: 5px;
        background: $c_secondaire;
        margin: 15px 0 15px 0;
        overflow: hidden;
        border: 1px solid #000;
    }
    &_titre{
        @include dir_row();
        justify-content: space-between;
        align-items: center;
        background-color: $c_primaire;
        border-radius: 5px;
        height: 52px;
        padding: 0 20px 0 20px;
    }
    & h1 {
        font-family: $p_texte;
        color: $c_wht;
        font-size: 24px;
    }
    & p{
        font-family: $p_texte;
        text-align: justify;
        color: $c_primaire;
        margin: 0 10px 0 10px;
        padding: 10px 0 10px 0;
    }
}