@import "./var.scss";

.coverLogement{
    display: flex;
    width: 100%;
    height: 415px;
    overflow: hidden;
    border-radius: 25px;
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.appart{
    @include dir_row();
    justify-content: space-between;
    margin-top: 20px;

    &Descript{    
        font-family: $p_texte;
        color:$c_primaire;
    }
      
    &Titre{
        font-size: 36px;  
    }
}

.host{
    @include flexRow();
    gap: 15px;
    & p {
        width: 93px;
        text-align: right;
        color: $c_primaire;
    }
    & img {
        width: 64px;
        border-radius: 50%;
    }
}

.cardTags{
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-top: 30px;
    gap: 20px;

    span{
        display: flex;
        justify-content: center;
        width: 150px;
        background-color: $c_primaire;
        color: $c_wht;
        font-family: $p_texte;
        font-size: 14px;
        padding: 0.4em 0.7em;
        border-radius: 10px;
    }
}

.custom-select{
    &::after{
    content: '\25BC'; /* Flèche vers le bas par défaut */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) rotate(180deg); /* Rotation de 180 degrés par défaut */
    transition: transform 0.3s;
    }
    &:hover::after {
    transform: translateY(-50%) rotate(0deg); /* Rotation de 0 degré lorsqu'il est survolé */
    }
  }

.star{
    &Align{
    @include dir_row;
    margin-top: 10px;
    gap: 5px;
    }
}

// Mise en forme des collapses
@import "./var.scss";

.logement{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    &_collapse{
        width: 670px;
        height: 300px;
        border-radius: 5px;
        background: $c_secondaire;
        margin: 15px 0 15px 0;
        overflow: hidden;
        // border: 1px solid #000;
        transition: height 500ms ease-in-out;
        &.collapsed{
            height: 52px;

            & .about_titre img{
                transform: rotate(0deg); 
            }
        }
    }
    &_titre{
        @include dir_row();
        position: relative;
        justify-content: space-between;
        align-items: center;
        background-color: $c_primaire;
        border-radius: 5px;
        height: 52px;
        padding: 0 20px 0 20px;

        & img{
            position: absolute;
            right: 20px;
            transition: transform 0.3s ease;
            cursor: pointer;
        }
        &.collapsed img{            
            transform: rotate(0);            
        }

        &:not(.collapsed) img {
            transform: rotate(180deg);
        }
    }
    & h1 {
        font-family: $p_texte;
        color: $c_wht;
        font-size: 24px;
    }
    & p{
        // display: none;
        font-family: $p_texte;
        text-align: justify;
        font-size: 24px;
        color: $c_primaire;
        margin: 0 10px 0 10px;
        padding: 10px 0 10px 0;
    }

    & ul{
        display: flex;
        flex-direction: column;
        font-family: $p_texte;
        color: $c_primaire;

        & li{
            padding-left:20px;
        }
    }
}

// Media queries

@media screen and (max-width : $mobile){
    .appart{
        font-size: 14px;
        &Titre{
            font-size: 18px;  
        }
    }

    .host{
        & p {
            font-size: 12px;
        }
        & img {
            width: 32px;
        }
    }

    .cardTags{
        justify-content: space-between;    
        span{
            width: 120px;
            font-size: 10px;
        }
    }
}