
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$c_blk:#000;
$c_wht:#fff;
$c_primaire:#FF6060;
$c_secondaire:#F6F6F6;
$c_tertiaire:#666666;

$p_texte : "Montserrat", sans-serif;

$tablette:768px;
$mobile:480px;
$footer:209px;

@mixin dir_row{
    display: flex;
    flex-direction: row;
}

@mixin dir_col{
    display: flex;
    flex-direction: column;
}

@mixin align_centerHV{
    align-items: center;
    justify-content: center;
}

@mixin flexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin imgPosition{
    position: relative;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

@mixin texte{
    font-family: $p_texte;
    color: $c_primaire ;
    font-size: 18px;
}
